<section class="section-four">
    <div class="section-four-div container">
        <h2 class="section-four-header-two">What our Customers Say</h2>
        <p class="section-four-text">Don't just take our word for it - see what our satisfied customers have to say</p>
        <ul class="section-four-list">
            <li class="section-four-list-item">
                <div class="section-four-icon-div">
                    <ul class="section-four-icon-list">
                        <li class="section-four-icon-list-item">
                            <svg class="section-four-icon" width="17" height="16">
                                <use href="./images/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="section-four-icon-list-item">
                            <svg class="section-four-icon" width="17" height="16">
                                <use href="./images/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="section-four-icon-list-item">
                            <svg class="section-four-icon" width="17" height="16">
                                <use href="./images/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="section-four-icon-list-item">
                            <svg class="section-four-icon" width="17" height="16">
                                <use href="./images/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="section-four-icon-list-item">
                            <svg class="section-four-icon" width="17" height="16">
                                <use href="./images/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                    </ul>
                </div>
                <p class="section-four-customers-text">“The Best app I have used to order food in a while, so many
                    options to choose from
                    too, I would recommend to a freind,
                    No questions asked”</p>
                <div class="section-four-customers-div">
                    <img src="./images/customer1.png" alt="Sumith Shah" width="48" height="48" />
                    <div class="section-four-customers">
                        <h3 class="customers-name">Sumith Shah</h3>
                        <p class="customers-info">Some Dude</p>
                    </div>
                </div>
            </li>
            <li class="section-four-list-item">
                <div class="section-four-icon-div">
                    <ul class="section-four-icon-list">
                        <li class="section-four-icon-list-item">
                            <svg class="section-four-icon" width="17" height="16">
                                <use href="./images/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="section-four-icon-list-item">
                            <svg class="section-four-icon" width="17" height="16">
                                <use href="./images/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="section-four-icon-list-item">
                            <svg class="section-four-icon" width="17" height="16">
                                <use href="./images/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="section-four-icon-list-item">
                            <svg class="section-four-icon" width="17" height="16">
                                <use href="./images/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="section-four-icon-list-item">
                            <svg class="section-four-icon" width="17" height="16">
                                <use href="./images/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                    </ul>
                </div>
                <p class="section-four-customers-text">“The ease with which I can just go in and order what i want was
                    amazing, It has been a
                    very pleasant experience ordering
                    from this app”</p>
                <div class="section-four-customers-div">
                    <img src="./images/customer2.png" alt="Sumith Shah" width="48" height="48" />
                    <div class="section-four-customers">
                        <h3 class="customers-name">Sumith Shah</h3>
                        <p class="customers-info">Some Dude</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>