<footer class="footer-section">
  <div class="footer-div container">
    <div class="footer-nav-subscribe">
      <nav class="footer-nav">
        <a class="footer-logo" href="/index.html"><img src="./images/logo.svg" alt="main-logo" width="66"
            height="52" /></a>
        <ul class="footer-list">
          <li class="nav-item"><a class="nav-item-link" href="./index.html">Home</a></li>
          <li class="nav-item"><a class="nav-item-link" href="">About</a></li>
          <li class="nav-item"><a class="nav-item-link" href="">Service</a></li>
          <li class="nav-item"><a class="nav-item-link" href="">Menu</a></li>
          <li class="nav-item"><a class="nav-item-link" href="">Contact</a></li>
        </ul>
      </nav>
      <div class="footer-subscribe-section">
        <b class="footer-sub-header">Subscribe</b>
        <form class="footer-form">
          <input class="footer-section-input" name="user-email" type="email" placeholder="Enter your email">
          <button class="main-btn footer-btn" type="submit">Subscribe</button>
        </form>
        <p class="footer-sub-text">By subscribing you agree to with our <a class="policy-link" href="">Privacy
            Policy</a></p>
      </div>
    </div>
    <div class="footer-policy">
      <ul class="footer-list-policy">
        <li class="footer-list-item"><a class="footer-list-link" href="">Privacy Policy</a></li>
        <li class="footer-list-item"><a class="footer-list-link" href="">Terms of Service</a></li>
        <li class="footer-list-item"><a class="footer-list-link" href="">Cookies Settings</a></li>
      </ul>
      <p class="footer-policy-text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
