<header class="header-section">
  <div class="header-div container">
    <nav class="nav-section">
      <a class="logo git switchheader-logo" href="/index.html"><img src="/images/logo.svg" alt="main-logo" width="66"
          height="52" /></a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-item-link" href="/index.html">
            <span class="underline current">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="">
            <span class="underline">About</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="">
            <span class="underline">Service</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="">
            <span class="underline">Menu</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="">
            <span class="underline">Contact</span>
          </a>
        </li>
      </ul>
    </nav>
    <button class="main-btn header-btn" type="button" data-modal-open>Order Now</button>
    <button class="burger-btn" type="button" >
      <svg class="burger-icon" width="28" height="28">
        <use href="/images/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
