<header class="header-section">
  <div class="header-div container">
    <nav class="nav-section">
      <a class="logo header-logo" href="/index.html"><img src="/img/logo.svg" alt="main-logo" width="66"
          height="52" /></a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-item-link" href="/index.html">
            <span class="underline current">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="">
            <span class="underline">About</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="">
            <span class="underline">Service</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="">
            <span class="underline">Menu</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item-link" href="">
            <span class="underline">Contact</span>
          </a>
        </li>
      </ul>
    </nav>
    <button class="main-btn header-btn" type="button" data-modal-open>Order Now</button>
  </div>
</header>
