<section class="section-three">
    <div class="section-three-div container">
        <h2 class="section-three-header">Some of Our Favorites</h2>
        <p class="section-three-text">Looking for something delicious?</p>
        <ul class="section-three-list">
            <li class="section-three-list-item">
                <img class="section-three-image" src="./images/gamburger.png" alt="Gamburger" width="315" height="315">
                <h3 class="section-three-product-name">Gamburger</h3>
            </li>
            <li class="section-three-list-item">
                <img class="section-three-image" src="./images/pasta.png" alt="Pasta" width="315" height="315">
                <h3 class="section-three-product-name">Pasta</h3>
            </li>
            <li class="section-three-list-item">
                <img class="section-three-image" src="./images/pizza.png" alt="Pizza" width="315" height="315">
                <h3 class="section-three-product-name">Pizza</h3>
            </li>
            <li class="section-three-list-item">
                <img class="section-three-image" src="/images/chicken.png" alt="Chiken" width="315" height="315">
                <h3 class="section-three-product-name">Chiken</h3>
            </li>
            <li class="section-three-list-item">
                <img class="section-three-image" src="./images/salat.png" alt="Salat" width="315" height="315">
                <h3 class="section-three-product-name">Salat</h3>
            </li>
            <li class="section-three-list-item">
                <img class="section-three-image" src="./images/borshch.png" alt="Borshch" width="315" height="315">
                <h3 class="section-three-product-name">Borshch</h3>
            </li>
        </ul>
    </div>
</section>