<section class="section-five">
    <div class="section-five-div container">
        <div class="section-five-text-div">
            <h2 class="section-five-header header-two">Subscribe To Get Special Offers</h2>
            <p class="section-five-text">Order now and receive 10% off your first meal with Enjoy Your Favorite Food
                From Anywhere.</p>
            <form class="section-five-form">
                <input class="section-five-input" name="user-email" type="email" placeholder="Enter your email">
                <button class="main-btn subscribe-btn" type="submit">Subscribe</button>
            </form>
        </div>
        <picture class="section-five-banana">
            <source media="(min-width: 1280px)" width="608" height="266"
                srcset="/images/banan-desk@1x.png 1x, /images/banan-desk@2x.png 2x" />
            <source media="(min-width: 768px)" width="281" height="136"
                srcset="/images/banan-tab@1x.png 1x, /images/banan-tab@2x.png 2x" />
            <source media="(max-width: 767px)" width="280" height="78"
                srcset="/images/banan-mob@1x.png 1x, /images/banan-mob@2x.png 2x" />
            <img src="/images/banan-mob@1x" alt="banana" width="280" height="78" />
        </picture>
    </div>
</section>