.header-section {
    background-color: #fefefe;
}

.header-div {
    display: flex;
    align-items: center;
}

.nav-section {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-right: 30px;
}