.modal-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 99, 99, 0.7);
    position: fixed;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    position: absolute;
    width: 320px;
    height: 449px;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffe550;
    border-radius: 30px;
    padding: 32px 20px;
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    border: none;
    padding: 0;
}

.modal-close-icon {
    fill: #2c2c2c;
}

.modal-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #2c2c2c;
    text-align: center;
    margin-bottom: 20px;
}

.modal-form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
}

.modal-label-style {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: #2c2c2c;
    margin-bottom: 2px;
    margin-left: 12px;
}

.modal-input-style {
    border: 1px solid rgba(18, 18, 18, 0.12);
    border-radius: 30px;
    width: 280px;
    height: 48px;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 0 12px;
}

.modal-input-style:focus,
.modal-input-style:active {
    border: 1px solid #7eb101;
    outline: none;
}

.modal-input-style::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: #c4c4c4;
}

.modal-input-style:valid {
    border: 1px solid #bbf330;
}

.modal-input-style:invalid {
    border: 1px solid #ff705d;
}

.modal-valid-check {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.input-invalid {
    font-weight: 500;
    font-size: 11px;
    line-height: 1.4;
    color: #ff705d;
}

.icon-invalid {
    fill: transparent;
    stroke: #ff705d;
    margin-right: 4px;
}

.modal-btn {
    border: 2px solid #7eb101;
    border-radius: 30px;
    padding: 10px 20px;
    width: 106px;
    height: 40px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 13px;
    color: #2c2c2c;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: 14px;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 458px;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 32px 32px;
    }

    .modal-close-btn {
        top: 12px;
        right: 12px;
    }

    .modal-input-style {
        width: 394px;
    }

    .modal-form-item {
        margin-bottom: 6px;
    }

    .input-invalid {
        font-size: 13px;
    }
}